/****************************************************************
 *																*		
 * 						      							*
 *                        							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
body{ font-family:'微软雅黑';}
.title{  background:url(../images/righttitlebig.png) repeat-x; border:1px solid #c1d3de; overflow:visible;}
.title h2{line-height:33px; margin-left:7px; padding-left:22px; font-weight:bold; font-size:14px; font-family:'宋体'; color:#000000; background:url(../images/titleico.png) no-repeat left center;}

/*查询条件*/
.query{ padding:18px 0 18px 0; border:1px solid #c1d3de; border-top:none; overflow:visible;}
/*!*表格操作按钮*!*/
.table-operate{ padding-left:15px; height:37px; line-height:37px; background:url(../images/toolbarbg.png) repeat-x; border:1px solid #c1d3de; border-top:none;}
.table-operate a{ float:left; font-family:'宋体'; width: 45px;  text-align:right; color:#000; margin-right:20px;}
.table-operate a.add{ background:url(../images/addico.png) no-repeat left 9px;}
.table-operate a.del{ background:url(../images/delico.png) no-repeat left 9px;}
.table-operate a.edit{ background:url(../images/edtico.png) no-repeat left 9px;}
.table-operate a.count{ background:url(../images/tjico.png) no-repeat left 9px;}
.table-operate a.check{ background:url(../images/bookico.png) no-repeat left 9px;}
.table-operate a.out{ background:url(../images/tjico_down.png) no-repeat left 9px;}
.table-operate a.sent01{ background:url(../images/sent01.png) no-repeat left 9px;}
.table-operate a.back{ background:url(../images/back.png) no-repeat left 9px;}
.table-operate a.check01{ background:url(../images/bookico.png) no-repeat left 9px;}
.table-operate a.print{ background:url(../images/table_print.png) no-repeat left 9px;}

/*表格*/

thead tr th{font-weight: bold ;background-color: #E7F0F6}



